.DeleteButton {
    background-color: #de2424;
    color: white;
    border-radius: 0.5em;
    padding: 0.25em 0.75em;
    text-align: center;
}

.DeleteButton:hover {
    background-color: #b01313;
}