.PostListWrapper {
  display: block;
  background-color: white;
}

.PostList {
  width: 80vw;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 5%;
  gap: 1em;
  background-color: #F9FAFC;
}

.Overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}


