.PostList {
  width: 80vw;
  display: grid;
  grid-template-columns: 33% 33% 33%;  
}

.Post {
  margin: 10px 10px;
  border: 1px solid white;
  border-radius: 0.5em;
  min-height: 10em;
  min-width: 20em;
}

.Buttons > button {
  padding: 5px;
  margin: 0 1em;
}
