.Layout {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100vw;
    top: 0;
    border: 1px solid gray;
    padding: 0.5em;
    background-color: white;
}

.Layout > h1 {
    margin: 0;
    font-size: 1.5em;
    color: #5F84CA;
}

.Layout > h1:hover {
    cursor: pointer;
}

.Layout > h1, .Layout > button {
    margin: 0 10% 0 10%;
}