.EditForm {
    min-width: 40%;
    border: none;
    border-radius: 0.25em;
    box-shadow: 1px 1px 6px gray;
    padding: 1em 2em;
    background-color: white;
}

.EditForm > h2 {
    text-align: start;
}

.EditForm > form {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.Buttons {
    margin-top: 2em;
    display: flex;
    justify-content: end;
}

.Buttons {
    margin-top: 1em;
    display: flex;
    justify-content: end;
}

.Buttons > button {
    margin-top: 2em;
    margin-left: 1em;
    padding: 0.5em;
    max-height: 3em;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

input:nth-child(2) {
    padding: 0.5em 0.5em;
}

input:nth-child(4) {
    padding: 2em 0.5em;
}

input:nth-child(6) {
    padding: 4em 0.5em;
}